In [1]:
import pandas as pd

In [3]:
df = pd.read_excel(r"/home/kajol/Downloads/Input-task1.xlsx")
df

,title,placeholder,type,displayType,isMandatory,validations,allowedValues,defaultValue,rank,answer,option_id
0,comment,Enter your comment here,TEXT,TEXT,True,[],[],NaN,1,NaN,option_1
1,options,NaN,TEXT,YES_NO_BUTTONS,False,[],"['Yes', 'No', 'N/A']",NaN,2,NaN,option_1

In [7]:
df_json = df.to_json(orient='records')
df_json

'[{"title":"comment","placeholder":"Enter your comment here","type":"TEXT","displayType":"TEXT","isMandatory":true,"validations":"[]","allowedValues":"[]","defaultValue":null,"rank":1,"answer":null,"option_id":"option_1"},{"title":"options","placeholder":null,"type":"TEXT","displayType":"YES_NO_BUTTONS","isMandatory":false,"validations":"[]","allowedValues":"[\'Yes\', \'No\', \'N\\/A\']","defaultValue":null,"rank":2,"answer":null,"option_id":"option_1"}]'

In [9]:
with open("/home/kajol/Desktop/task1.json", "w") as outfile:
    outfile.write(df_json)