In [26]:
import pandas as pd
import json

In [27]:
df = pd.read_excel(r"/home/kajol/Downloads/Input-task1.xlsx")
df

,title,placeholder,type,displayType,isMandatory,validations,allowedValues,defaultValue,rank,answer,option_id
0,comment,Enter your comment here,TEXT,TEXT,True,[],[],NaN,1,NaN,option_1
1,options,NaN,TEXT,YES_NO_BUTTONS,False,[],"['Yes', 'No', 'N/A']",NaN,2,NaN,option_1

In [50]:
df_json = df.to_json(orient='records')
print(type(df_json))
df_json = df_json.replace('"[', '[')
df_json = df_json.replace(']"', ']')
df_json = df_json.replace('\\', '')
df_json = df_json.replace("'",'"')
df_json

#parsed = json.loads(df_json)
#parsed

<class 'str'>

'[{"title":"comment","placeholder":"Enter your comment here","type":"TEXT","displayType":"TEXT","isMandatory":true,"validations":[],"allowedValues":[],"defaultValue":null,"rank":1,"answer":null,"option_id":"option_1"},{"title":"options","placeholder":null,"type":"TEXT","displayType":"YES_NO_BUTTONS","isMandatory":false,"validations":[],"allowedValues":["Yes", "No", "N/A"],"defaultValue":null,"rank":2,"answer":null,"option_id":"option_1"}]'

In [41]:
#type(parsed)
#parsed

[{'title': 'comment',
  'placeholder': 'Enter your comment here',
  'type': 'TEXT',
  'displayType': 'TEXT',
  'isMandatory': True,
  'validations': '[]',
  'allowedValues': '[]',
  'defaultValue': None,
  'rank': 1,
  'answer': None,
  'option_id': 'option_1'},
 {'title': 'options',
  'placeholder': None,
  'type': 'TEXT',
  'displayType': 'YES_NO_BUTTONS',
  'isMandatory': False,
  'validations': '[]',
  'allowedValues': "['Yes', 'No', 'N/A']",
  'defaultValue': None,
  'rank': 2,
  'answer': None,
  'option_id': 'option_1'}]

In [51]:
with open("/home/kajol/Desktop/taskf.json", "w") as outfile:
    outfile.write(df_json)

In [32]:
#op = json.dumps(parsed, indent=4)

In [33]:
#with open("/home/kajol/Desktop/task.json", "w") as outfile:
#    outfile.write(op)

In [43]:
df_json2 = df.to_json(path_or_buf="/home/kajol/Desktop/task1.json", indent=1, lines = False, orient='records')
#df_json2